@model IEnumerable<Lesson>

@{
    ViewData["Title"] = "Siyahı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dərslər</h1>

<p>
    <a asp-action="Create">Yenisini əlavə et</a>
</p>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Bütün dərslər</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Müəllim adı
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Class.Name)
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Teacher.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Class.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Dəyiş</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>